@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* ## Colors

### Primary */

  --lightRedCTATtext: hsl(356, 100%, 66%);
  --veryLightRedCTAHover: hsl(355, 100%, 74%);
  --veryDarkBlue: hsl(208, 49%, 24%);

  /* ### Neutral */

  --whiteText: hsl(0, 0%, 100%);
  --grayishBlueFooterText: hsl(240, 2%, 79%);
  --veryDarkGrayishBlue: hsl(207, 13%, 34%);
  --veryDarkBlackBlueFooterBG: hsl(240, 10%, 16%);

  /* ### Gradient */

  /* Background gradient - Intro/CTA mobile nav: */

  --veryLightRed: hsl(13, 100%, 72%);
  --lightRed: hsl(353, 100%, 62%);

  /* Background gradient - body: */

  --veryDarkGrayBlue: hsl(237, 17%, 21%);
  --veryDarkDesaturatedBlue: hsl(237, 23%, 32%);

  /* ### Fonts */

  --overpass: "Overpass";
  --ubuntu: "Ubuntu";
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.flex {
  display: flex;
  gap: var(--gap, 2rem);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
/* Primary header */
.logo {
  margin: 2rem;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*  Header hero page */

.hero-page {
  min-height: 600px;
  background: url(/images/bg-pattern-intro-desktop.svg);
  background-size: cover;
  background-position: center;

  background-color: var(--lightRedCTATtext);
  border-radius: 0 0 0 50px;
  color: var(--whiteText);
}

header {
  font-family: var(--overpass);
}

.hero-pageCTA {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--ubuntu);
}

.hero-pageCTA h1 {
  padding: 1rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-pageCTA p {
  margin-bottom: 2rem;
}
.ctaButton {
  display: flex;
  gap: 2rem;
}

.ctaButton1 {
  background-color: var(--whiteText);
  color: var(--lightRedCTATtext);
  border-radius: 20px;
  height: 2.5rem;
  padding: 0.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--overpass);
  border: none;
}

.ctaButton2 {
  background-color: transparent;
  color: var(--whiteText);
  border: 1px solid var(--whiteText);
  border-radius: 20px;
  height: 2.5rem;
  padding: 0.4rem;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: var(--overpass);
}

/* Info section title */

.infoSectionTitle {
  display: flex;
  justify-content: center;
  font-family: var(--overpass);
  color: var(--veryDarkBlue);
}

/* Info section */

.infoSection {
  display: flex;
  flex-direction: row;
}

.infoSectionText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.infoSectionTextOne {
}
.infoSectionTextTwo {
}

/* 
Media query */

@media (max-width: 35em) {
  /* navbar & header */
  .primary-navigation {
    --gap: 3em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;

    flex-direction: column;
    padding: 10rem 2em;
    background: hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(1rem);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url(images/icon-hamburger.svg);
    z-index: 9999;
    background-repeat: no-repeat;
    width: 2em;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    border: none;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background: url(images/icon-close.svg);
  }

  /* infoSection */
  .infoSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .infoSectionImage-Image {
    padding: 1rem;
    max-height: 450px;
  }
}
